<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
       
    </head>
    <body>

                </header>
                        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                        <h1 align="center">
                            <font face="Lato" color="#017bf5" size="7">
                                <h3>Hello, World <span class="wave">👋</span></h3> 
                    <h1>I'm Morayo Nicholson</h1>
                            </font>
                        </h1>
                        <h3 align="center">
                            <font face="Lato" color="#000" size="5">
                                <span>Computer Science Student</span>
                            </font>
                        </h3>
                        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                    </section>
     </section>
    
                            <h1 class="Section-heading">
                            <hr color="#fff" width="20%">
                            <p align="center"><font> <face="sans-serif"> <color="#2ecc17" size="6">Proffesional</font></p>                  
                            <hr color="#fff" width="20%">
                                      
                         <table align="center">
                            <tr> 
                            
                                    
                                        <td>
                                            <a  href="mailto:morayonicholson@gmail.com?subject=Contacting Morayo Nicholson!"><img src="C:\Users\Morayo\Documents\web program\images\img5" height="200" width="350"></a></p2>
                                        </a>
                                        </td> 
                                      
                                    </tr> 
                                </table>
                                <h3 align="center">
                                   
                                       <p><font face="Lato" color="#000">So again, my name is Morayo Nicholson but you can call me "Rayo", and I am 19 years old. I'm the mother of a beautiful baby girl by the name of Arya Martin. I attend St. Hugh's High School were i completed my studies and graduate with 8 Cxc's.
                                           Currently, I'm studying to get a  <strong>Bsc. in Computing</strong> at <a href="https://www.utech.edu.jm/" target="_blank">University of Technology </a> and working at Sutherland Global as a customer Service Represenattive.</font> </p>
                                           
                                           
                                           <p><font face="Lato" color="#000">Through out the years, I’ve noticed that I’ve always been good with computers and thats why i decide to purse a degree in this area. I’m also proud of my ability to preserve and overcome any challenges as they come up.</a>. </font> 
                                   </a>&nbsp;&nbsp;&nbsp;&nbsp;</p1> 
                                
                                    </h3>
                    <h1 class="Section-heading"></h1><hr color="#fff" width="20%">
                    <h1 align="center"><font> <face="sans-serif"> <color="#2ecc17" size="6">Resume</font></h1>                  
                    <hr color="#fff" width="20%">
                              
                        <h3>
                           
                               <p><font face="Lato" color="#000"> 
	 
                                <p>Morayo Nicholson <br>
                                    614 Carlston Close,<br>
                                    Cumberland, Gregory Park PO   <br>                                                                        
                                    St. Catherine <br>
                                    (876) 476-5860<br>
                                    Morayonicholson@gmail.com </p><br>
                                
                                
                                Personal Profile<br>
                                I have a positive attitude towards work and I am willing to undergo training to learn any new skills which will enhance my work performance.<br>
                                <br><br>
                                Objective<br>
                                To obtain a position with the opportunity for growth and development with a business that often requires me to socialize with customers.<br>
                                
                                <br><br>
                                 Skills <br>	 
                                 <br>
                                ●	Adaptable <br>
                                ●	Problem solving <br>
                                ●	Data entry<br>
                                ●	Communication.<br>
                                ●	Computer skills.<br>
                                ●	Customer service<br>
                                <br><br>
                                Experience
                                <br><br>	 
                                Sutherland Global. <br>
                                August 2021- Present Kingston<br>
                                ●	Answering phone calls from customers professionally and responding to customer inquiries and complaints.<br>
                                ●	Recording details of comments, inquiries, complaints, and actions taken.<br>
                                ●	Help customers with troubleshoot issues.<br>
                                ●	Routing inbound calls to the appropriate resources.<br>
                                ●	Obtaining and evaluating all relevant data to handle complaints and inquiries.<br>
                                ●	Completing call notes and call reports as necessary and updating them also.<br>
                                <br><br>
                                Advantage Communication Inc. <br>
                                March 2021- June 2021, Kingston<br>
                                ●	Answering phone calls from customers professionally and responding to customer inquiries and complaints.<br>
                                ●	Recording details of comments, inquiries, complaints, and actions taken.<br>
                                ●	Help customers with troubleshoot issues.<br>
                                ●	Providing customers with the organization’s service and product information.<br>
                                ●	Routing inbound calls to the appropriate resources.<br>
                                ●	Obtaining and evaluating all relevant data to handle complaints and inquiries.<br>
                                ●	Completing call notes and call reports as necessary and updating them also.<br>
                                <br><br>
                                Fusion Bpo - Innovative Vision <br>
                                December 2020- February 2021, Kingston<br>
                                ●	Answering phone calls from customers professionally and responding to customer inquiries and complaints.<br>
                                ●	Processing forms, orders, and applications requested by the customers.<br>
                                ●	Recording details of comments, inquiries, complaints, and actions taken.<br>
                                ●	Following up complicated customer calls where required.<br>
                                ●	Providing customers with the organization’s service and product information.<br>
                                ●	Routing inbound calls to the appropriate resources.<br>
                                ●	Obtaining and evaluating all relevant data to handle complaints and inquiries.<br>
                                ●	Completing call notes and call reports as necessary and updating them also.<br>
                                <br><br>
                                Glenhope Nursery/ Child Care Worker<br>
                                August 2018- September 2018, Kingston<br>
                                ●	  Help in creating a safe and stimulating <br>    
                                  environment for the children<br>
                                ●	  Bathing and dressing children<br>
                                ●	  Potty-training, if age-appropriate<br>
                                ●	  Feeding the children<br>
                                ●	  Indoor and outdoor activities<br>
                                ●	  Educational activities and crafts<br>
                                ●	  Reading to the children<br>
                            
                                <br><br>
                                Education	<br> 
                                University of Technology, Jamaica<br>
                                September 2020 – Pending, Kingston<br>
                                Bachelor of Computer Science<br>
                                <br>
                                St. Hugh's High School / CXC<br>
                                September 2014 - June 2019, Kingston <br>
                                Caribbean Secondary Examination Council  - (CSEC)<br>
                                ●	Electronic Document Preparation Management - E.D.P.M<br>
                                ●	Mathematics<br>
                                ●	English Language<br>
                                ●	English Literature<br>
                                ●	Social Studies<br>
                                ●	Religious Education<br>
                                ●	Human and Social Biology<br>
                                ●	Information Technology
                                
                                <br><br>
                                COURSES & CERTIFICATES EARNED<br>
                                2019 – Diploma in customer service <br>
                                Alison Learning Center – Online Courses  <br> 
                                 
                                </font> </p>
                            </h3> <font face="sans-serif" color="black" size="5.5"> 
                            
                                <h1 class="headings">Personality Trait and Personal	Development</h1>
                                    <br>
                                        <h1 class="headings">Personality <br></h1>
                                        <img src="C:\Users\Morayo\Documents\web program\images\personality ss1.jpg" >
                                   
                                        <h1 class="headings">Personal Development</h1>
                                        <p><li>Improve my time management.</li>
                                            <li>Develop emotional intelligence.<br></li> 
                                            <li>Cultivate resilience.</li> 
                                            <li>Develop a growth mindset.</li> 
                                            <li>Develop a reading habit.</li>
                                            <li> Learn something new.</li>
                                            <li> Improve my public speaking skills.</li>
                                            <li> Meet new people</p></li>
                                    
                                    
                                       
                                    
                         
                    
                   
                                    
                                 <!-- contact us -->

		<br><br><br><br><br><br><br><br><br><br>
		
			<hr color="black" width="20%">
				<p align="center"><font face="sans-serif" color="black" size="5.5">Reference</font></p>
			<hr color="black" width="20%">
			<br><br>
			
						</th>
					</tr>
				</table>
			</form>
		</div>
		<br><br><br><br><br>  

                            
                                       
                                
                               
                          
    </head>
</html>
